body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(15, 41, 126, 0.315) !important;
}

nav{
    position: fixed;
    top: 0;
}
#image{
    height: 90hv;
    width: 100%;
    position: relative;

}
#text{
    position: absolute;
    top: 0;
    
}
footer{
    background-color: rgba(128, 128, 128, 0.192);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img{
    height: 100%;
    width: 100%;
}
h1{
    font-family: 'Great Vibes';
}
h1{
    text-decoration: none;
}


#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    border: 1px solid rgb(99, 99, 99);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
#medical_h2{
    font-family: 'Playfair Display', serif;
}
#pr_number{
    font-family: 'Arima Madurai', cursive;
}
li > a{
    font-family: 'Arima Madurai', cursive;
    font-weight: 700;
    background-color: rgba(51, 63, 228, 0.37);
    border-radius: 16px;
    margin: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
li > a:hover{
    background-color: rgb(51, 63, 228);
    cursor: pointer;
}
#box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#covid_link{
    background-color: green !important;
    border-radius: 20px !important;
}